<h1><%= @post.title %></h1>

<h3> Categories:
  <% @post.categories.each do |category| %>
    <%= category.name %>
  <% end %>
</h3>

<p><%= @post.content %></p>

<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <%= "#{comment.user.username} says: #{comment.content}" %>
    </li>
  <% end %>
</ul>